$custom-purple: #734c7a !default;
$custom-green-darker: #734c7a !default;
$custom-green-lighter: #87CC96 !default;
$custom-gray: #dfdede !default;
$custom-gray-darker: #666666 !default;
$custom-black: #353535 !default;
$custom-orange: #F7C97C !default;