@import "~bulma/bulma";
@import "./custom_colors";

#restaurant {

    .infos{
        @media (min-width:641px) {
            margin-left: 20px;
        }
        h2.title {
            font-size: 11pt;
        }
        h4.subtitle {
            font-size: 11pt;
            margin-bottom: 10px;
        }
    }
}